<div>
  <div id="profile-image">
    <%= small_profile_image(@profile) %>
      <p>
        Find me on:<br />
        
        <% if !@profile.blog.nil? %>
           <span class="profile-link"><%= link_to "Blog",@profile.blog %></span>
        <% end %>
      </p>

    <p>
      <% if !@profile.covestor.nil? %>
          <span class="profile-link"><%= link_to "Covestor", @profile.covestor %></span>
      <% end %>
    </p>

    <p>
      <% if !@profile.stocktwits.nil? %>
          <span class="profile-link"><%= link_to "StockTwits", @profile.stocktwits %></span>
      <% end %>
    </p>

    <p>
      <% if !@profile.kaching.nil? %>
          <span class="profile-link"><%= link_to "kaChing", @profile.kaching %></span>
      <% end %>
    </p>

  </div>
 <div style="width:75%;float:right;clear:right">
   <div class="profile-title">
    <%= "#{@profile.first_name} #{@profile.last_name}" %>
  </div>
  <div class="profile-systems">
    <% if !@systems.nil? and @systems.size() > 0 %>
        Systems:<br/>
        <% for system in @systems %>
            <%= link_to system.name, :controller=>"systems", :action=>"show", :id=>system %>
            <br/>
        <% end %>
    <% end %>
  </div>


  <div class="profile-data">
    <div>

      <p>
        <strong>About me:</strong>
        <%= h @profile.personal_blurb %>
      </p>



      <p>
        <strong>About my trading style:</strong>
        <%= h @profile.style_blurb %>
      </p></div>
  </div>
</div>

</div>