<% if !current_user.nil? && current_user.id == @profile.user.id then %>
    <%= render :partial=>"/dashboard/info", :locals=>{:text=>("You are viewing your profile.  To edit it click " +link_to("here",:id=>@profile,:action=>"edit") ) } %>
<% end %>

<div>
  <table><tr><td id="profile-image">
    <%= medium_profile_image(@profile) %>
      <p>
        Find me on:<br />

        <% if !isEmptyString?(@profile.blog) %>
           <span class="profile-link"><%= link_to "Blog",@profile.blog %></span>
        <% end %>
      </p>

    <p>
      <% if !isEmptyString?(@profile.covestor) %>
          <span class="profile-link"><%= link_to "Covestor", @profile.covestor %></span>
      <% end %>
    </p>

    <p>
      <% if !isEmptyString?(@profile.stocktwits)%>
          <span class="profile-link"><%= link_to "StockTwits", @profile.stocktwits %></span>
      <% end %>
    </p>

    <p>
      <% if !isEmptyString?(@profile.kaching) %>
          <span class="profile-link"><%= link_to "kaChing", @profile.kaching %></span>
      <% end %>
    </p>

  </td>
 <td  class="profile-data" >
   <div class="profile-title">
    <%= "#{@profile.first_name} #{@profile.last_name}" %>
  </div>
  <div class="profile-systems">
    <% if !@systems.nil? and @systems.size() > 0 %>
        Systems:<br/>
        <% for system in @systems %>
            <%= link_to system.name, :controller=>"systems", :action=>"show", :id=>system %>
            <br/>
        <% end %>
    <% end %>
  </div>


  <div>
    <div>

      <p>
        <strong>About me:</strong>
        <%= content_tag(:span, @profile.personal_blurb )%>

      </p>



      <p>
        <strong>About my trading style:</strong>
        <%= content_tag(:span, @profile.style_blurb )%>

      </p></div>
  </div>
</td></tr></table>

</div>