<% title "Emailalert" %>

<p>
  <strong>System:</strong>
  <%=h @emailalert.system.name %>
</p>
<p>
  <strong>Title:</strong>
  <%=h @emailalert.title %>
</p>
<p>
  <strong>Body:</strong>
  <%=h @emailalert.body %>
</p>
<p>
  <strong>Send At:</strong>
  <%=h format_datetime(@emailalert.send_at )%>
</p>


<p>
  <%= link_to 'View System',:controller=>'systems',:action=>'administer',:id=>@emailalert.system_id %>
</p>
