<div style="float:left;width:75%"><p> Welcome to the dashboard, <%= @user.username %></p>


  <p><%= link_to 'My Subscriptions', :controller=>'subscriptions' %></p>


  <br/>
  <br/>
  <br/>

  <p>Systems I have created (<%= @systems.size() %>)</p>
  <% if @systems.size() > 0 then %>
      <p>
        <% for system in @systems %>
            <%= link_to system.name, :controller=>'systems', :action=>'administer', :id =>system %><br/>
        <% end %>
      </p>
  <% end %>

  <br />
  Create a system 
      <%= link_to "here.", :controller=>"systems", :action=>"new" %>
</div>
<div style="float:right;width:25%;">
  <%= link_to "Edit my Account settings",:controller=>"users",:action=>"edit",:id=>@user.id %> <br />
  <%= link_to "View my About me page",:controller=>"profiles",:action=>"show",:id=>@user.profile.id %> <br />
  <%= link_to "Edit my About me page",:controller=>"profiles",:action=>"edit",:id=>@user.profile.id %>
</div>
