<% form_for @system do |f| %>
    <%= f.error_messages %>
    <table>
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td class="field-label"><%= f.label :description %></td>
        <td><%= f.text_area :description %></td>
      </tr>

      <tr>
        <td>      <%= f.label :price_email %>
        </td>
        <td>   <%= f.text_field :price_email %></td>
      </tr>
      <tr>
        <td><%= f.label :price_sms %></td>
        <td><%= f.text_field :price_sms %></td>
      </tr>
    </table>
    <p><%= f.submit "Submit" %></p>
<% end %>
