<% title @system.name %>

<br />

Create Alerts:  
<%= link_to 'Email',:controller=>'emailalerts',:action=>'new',:system_id=>@system.id %>

<br />
<br />

<%= link_to "Edit this system",:action=>"edit",:id=>@system %>


<br />
<br />
<p>People subscribed (<%= @system.subscriptions.size %>)</p>
<ul>
<% for subscription in @system.subscriptions %>
     <li><%= subscription.user.username %> on <%= format_date(subscription.created_at) %> <br /></li>
<% end %></ul>