<% title @system.name %>

Create Alerts <br />
<%= link_to 'Email',:controller=>'emailalerts',:action=>'new',:system_id=>@system.id %>   
<%= link_to 'Sms',:controller=>'smsalerts',:action=>'new',:system_id=>@system.id %>

<p>People subscribed (<%= @system.subscriptions.size %>)</p>

<% for subscription in @system.subscriptions %>
     <%= subscription.user.username %> on <%= format_date(subscription.created_at) %> <br />
<% end %>