<% title "Systems" %>
<br/>

These are all the systems that you can subscribe to.  Use the filter controllers to find ones that work for you.
<br />
<br />
<table><tr>
<td id="filter-controls"><div  >
<div>  <%= link_to "Highest Rated",:action=>"index",:filter=>"highest-rated" %><br />
</div>
<div>  <%= link_to "Price: Low to High",:action=>"index",:filter=>"price-low-high" %><br />
</div>
<div>  <%= link_to "Price: High to Low",:action=>"index",:filter=>"price-high-low" %> <br />
</div>
<div>  <%= link_to "Most subscribers",:action=>"index",:filter=>"most-subscribers" %><br />
</div>
<div>  <%= link_to "Newest",:action=>"index",:filter=>"newest" %><br />
</div>
<div>  <%= link_to "Oldest",:action=>"index",:filter=>"oldest" %><br />
</div>
<div>  <%= link_to "Only Free",:action=>"index",:filter=>"only-free" %><br />
</div>
<div>  <%= link_to "All",:action=>"index" %>
</div>
  <br/><br/>Or...<br/>

  <%= link_to "Create your own!", :action=>"new" %>

</div></td>
<td>
  <div >
  <div class="system-divider"><hr /></div>
  
<% for system in @systems %>
    <%= render :partial=> "small_preview", :object=>system %>
  <% end %>
</div>
  <div align="center" class="paginate-wrapper">
    <%= will_paginate @systems %>
  </div>
</td>
</tr>
    </table>
<%= image_tag("view_button_rollover.png", :style=>"display:none;")    %>

