<% if !current_user.nil? && current_user.id == @system.user.id then %>
    <%= render :partial=>'/dashboard/info',:locals=>{:text=>"You are viewing your system.  Use the link in the address bar to publicize your system to the world."} %>
<% end %>

<p class="title"><h1><%= @system.name %></h1>
  <% average_rating = @system.average_rating() %>

  <% if !average_rating.nil? then %>
      <%= render :partial=>"reviews/star_rating", :locals=>{:rating=>average_rating, :size=>"small-img"} %>
  <% end %>
</p>

from <%= profile_link(@system.user) %>


<span class="giant-link" style="text-decoration:none;float:right;margin-right:20px;">
  <% if current_user.nil? || current_user.id != @system.user.id && @subscription.nil? then %>

      <span class="subscribe-button"><%= link_to '', :controller=>'subscriptions', :action=>'new', :system=>@system.id %></span>
  <% elsif !@subscription.nil? %>
      <%= link_to 'Edit Your Subscription', :controller=>'subscriptions', :action=>'edit', :id=>@subscription %>
      <br />
         <%= link_to "Review it", {:controller=>"reviews",:action=>'new',:subscription=>@subscription}, :style=>"font-size:0.8em;" %>
  <% end %>
</span>

<br />
<br />

<p>
  <strong>Description:</strong> <br /><br />
  <%= content_tag(:span, @system.description )%>       
</p>
<p>
  <strong>Email Price:</strong>
  <%=h price_display @system.price_email %>
</p>

<hr class="review-seperate">
<p style="font-size:1.2em;" align="center"><%= @reviews.size() %> Reviews for <%= @system.name %></p>
<br />

<%= render :partial=>"/reviews/medium", :collection=>@reviews %>


<br />
<br />




