<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Traydr.com: <%= h(yield(:title) || "Untitled") %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= yield(:head) %>
</head>
<body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-10324101-4']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<div id="container">
  <div id="header">
    <span id="header_sitename">
      <a href="/welcome"><%= image_tag("logo.png",:width=>320) %></a>
    </span>

    <span id="navigation">
        <ul>
          <% if logged_in? then %>
              <li><%= link_to 'Dashboard', :controller=>'users', :action=>'home' %></li>
          <% else %>
              <li><%= link_to 'Dashboard', :controller=>'signup' %></li>
          <% end %>

          <li><%= link_to 'Systems', :controller=>'systems' %></li>
          <li><%= link_to 'Contact',:controller=>'dashboard',:action=>'contact' %></li>
        </ul>
    </span>


    <span id="account_controls">
      <% if logged_in? %>
          Welcome <%= h User.find(session[:user_id]).username %>! <p> Not you?
          <%= link_to "Log out", logout_path %></p>
      <% else %>
          <%= link_to "Sign up", signup_path %> or
          <%= link_to "log in", login_path %>.
      <% end %>
    </span>
  </div>
  <hr align="center"/>

  <div id="content">
    <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <%- end -%>

    <%- if show_title? -%>
        <h1><%= h yield(:title) %></h1>
    <%- end -%>

    <%= yield %>
    
  </div>

</div>


</body>
</html>
